language: scala
# https://github.com/travis-ci/travis-ci/issues/7884#issuecomment-308451879
# travis-ci no longer support oraclejdk7
dist: trusty
jdk: openjdk7
scala:
  - 2.10.7
  - 2.11.12
matrix:
  include:
  - scala: 2.12.8
    jdk: oraclejdk8
  - scala: 2.13.0
    jdk: oraclejdk8
  - dist: trusty
    scala: 2.12.8
    jdk: openjdk11
    script:
    - ./sbt ++$TRAVIS_SCALA_VERSION test
sudo: false
cache:
  directories:
    - $HOME/.ivy2/cache
before_install:
  - export TZ=Australia/Canberra
script:
  - travis_retry sbt ++$TRAVIS_SCALA_VERSION mimaReportBinaryIssues javaVersionCheck test
before_cache:
  - find $HOME/.sbt -name "*.lock" | xargs rm
  - find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm
addons:
  apt:
    packages:
    - oracle-java8-installer
