language: scala
scala:
  - 2.10.6
  - 2.11.11
matrix:
  include:
  - scala: 2.12.2
    jdk: oraclejdk8
  - scala: 2.13.0-M1
    jdk: oraclejdk8
  - dist: trusty
    group: edge
    sudo: required
    scala: 2.12.2
    jdk: oraclejdk9
    script:
    # https://github.com/sbt/sbt/pull/2951
    - git clone https://github.com/retronym/java9-rt-export
    - cd java9-rt-export/
    - git checkout 1019a2873d057dd7214f4135e84283695728395d
    - jdk_switcher use oraclejdk8
    - sbt package
    - jdk_switcher use oraclejdk9
    - mkdir -p $HOME/.sbt/0.13/java9-rt-ext; java -jar target/java9-rt-export-*.jar $HOME/.sbt/0.13/java9-rt-ext/rt.jar
    - jar tf $HOME/.sbt/0.13/java9-rt-ext/rt.jar | grep java/lang/Object
    - cd ..
    - ./sbt -Dscala.ext.dirs=$HOME/.sbt/0.13/java9-rt-ext ++$TRAVIS_SCALA_VERSION test
    addons:
      apt:
        packages:
        - oracle-java9-installer
sudo: false
cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/scala-$TRAVIS_SCALA_VERSION
before_install:
  - export TZ=Australia/Canberra
script:
  - travis_retry sbt ++$TRAVIS_SCALA_VERSION mimaReportBinaryIssues javaVersionCheck test
  - find $HOME/.sbt -name "*.lock" | xargs rm
  - find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm
addons:
  apt:
    packages:
    - oracle-java8-installer
