name: ci
on:
  push:
  pull_request:
  schedule:
  - cron: '0 2 * * *'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 40
    strategy:
      fail-fast: false
      matrix:
        include:
          - java: 8
            scala: 2_11
          - java: 8
            scala: 2_12
          - java: 8
            scala: 2_13
          - java: 8
            scala: 3
          - java: 11
            scala: 2
    steps:
    - uses: actions/setup-java@v2
      with:
        java-version: ${{matrix.java}}
        distribution: temurin
    - uses: actions/checkout@v2.4.0
    - uses: coursier/cache-action@v6
    - run: |
        export TZ=Australia/Canberra
        case ${{ matrix.scala }} in
          2_11)
            sbt -v scalafmtSbtCheck SetScala211 scalafmtCheckAll test
            ;;
          2_12)
            sbt -v scalafmtSbtCheck SetScala212 scalafmtCheckAll test
            ;;
          2_13)
            sbt -v scalafmtSbtCheck SetScala213 scalafmtCheckAll test
            ;;
          2)
            sbt -v scalafmtSbtCheck scalafmtCheckAll test
            ;;
          3)
            sbt -v scalafmtSbtCheck SetScala3_0 scalafmtCheckAll test
            ;;
          *)
            echo "unknown scala version"
            exit 1
        esac
