name: ci
on:
  push:
  pull_request:
  schedule:
  - cron: '0 5 * * *'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 40
    strategy:
      matrix:
        include:
          - java: 8
          - java: 11
    steps:
    - uses: olafurpg/setup-scala@v10
      with:
        java-version: "adopt@1.${{matrix.java}}"
    - uses: actions/checkout@v2.3.4
    - uses: coursier/cache-action@v5
    - run: |
        export TZ=Australia/Canberra
        sbt -v "+ mimaReportBinaryIssues" "+ test"
