name: scala-steward
on:
  push:
    branches: [ master ]
  schedule:
  - cron: '0 0 * * *'
  workflow_dispatch:
jobs:
  scala-steward:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - name: Generate token
      id: generate_token
      if: ${{ !github.event.repository.fork }}
      uses: tibdex/github-app-token@v1
      with:
        app_id: 89664
        private_key: ${{ secrets.JSON4S_BOT_KEY }}
    - name: Launch Scala Steward
      if: ${{ !github.event.repository.fork }}
      uses: scala-steward-org/scala-steward-action@v2.13.0
      with:
        github-token: ${{ steps.generate_token.outputs.token }}
        author-email: "74845451+json4s-bot[bot]@users.noreply.github.com"
        author-name: json4s-bot[bot]
