name: scala-steward
on:
  push:
    branches: [ master ]
  schedule:
  - cron: '0 5 * * *'
  workflow_dispatch:
jobs:
  scala-steward:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    if: ${{ github.repository_owner == 'json4s' }}
    steps:
    - name: Generate token
      id: generate_token
      uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
      with:
        app-id: 89664
        private-key: ${{ secrets.JSON4S_BOT_KEY }}
    - name: Launch Scala Steward
      uses: scala-steward-org/scala-steward-action@53d486a68877f4a6d1e110e8058fe21e593db356 # v2.77.0
      with:
        github-token: ${{ steps.generate_token.outputs.token }}
        author-email: "74845451+json4s-bot[bot]@users.noreply.github.com"
        author-name: json4s-bot[bot]
        branches: "master,4.0,4.1"
      env:
        JAVA_OPTS: "-Xmx4G"
